<%= render "shared/offer_header", offer: Offer.find_by(offerable: item) %>

  <%# TODO:  Main %>

  <main class="flex justify-center">
    <div id="description" class="w-full md:w-3/4 lg:w-1/2 xl:w-2/5 p-4">
      <%= content_tag(:p, item.description) %>
    </div>

    <div id="specifications" class="hidden w-full md:w-3/4 lg:w-1/2 xl:w-2/5 p-4">

      <% item.attribute_names.each do |attribute| %>
        <% next if ['description', 'title'].include?(attribute)  %>
        <div class="flex justify-between">
          <p class="text-blue-700"><strong><%= attribute.humanize %></strong></p>
          <p class="text-red-500">
            <strong>
              <% if ['created_at', 'updated_at'].include?(attribute) %>
                <%= item.send(attribute).strftime('%d %B %Y') %>
              <% elsif attribute == "user_id" %>
                <%# TODO: Add a link here, it'll send the user to the bottom of the page %>
                <%= item.user.full_name %>
              <% else %>
                <%= item.send(attribute) %>
              <% end %>
            </strong>
          </p>
        </div>
      <% end %>

      <div class="flex justify-between">
        <p class="text-blue-700"><strong>Address</strong></p>
        <p class="text-red-500"><strong><%= item.user.address %> / <%= item.user.country %></strong></p>
      </div>

    </div>

    <%# TODO: Geolocation. Map goes here. %>
    <p>Here is location</p>
    <div id="location" class="w-full md:w-3/4 lg:w-1/2 xl:w-2/5 flex justify-center">
      <div class="shadow-xl overflow-hidden" style="width: 730px; height: 610px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </main>

  <%# TODO:  Profile %>


  <%= link_to "Back", "javascript:void(0);", id: "back-button" %>
</div>

<div class="flex flex-col justify-center items-center h-[100vh]">
  <div class="relative flex flex-col items-center rounded-[20px] w-full sm:w-3/4 lg:w-1/2 xl:w-2/5 mx-auto p-1 bg-white bg-clip-border shadow-xl  text-white">
      <div class="relative flex h-32 w-full p-4 justify-center rounded-xl bg-cover" >
          <img src='https://horizon-tailwind-react-git-tailwind-components-horizon-ui.vercel.app/static/media/banner.ef572d78f29b0fee0a09.png' class="absolute flex h-32 w-full justify-center rounded-xl bg-cover">
          <% if item.user.profile_photo.key %>
            <div class="absolute -bottom-12 flex h-[87px] w-[87px] items-center justify-center rounded-full border-[4px] border-white bg-pink-400 !border-navy-700">
              <%= cl_image_tag item.user.profile_photo.key, class: "h-full w-full rounded-full" %>
            </div>
          <% else %>
            <%= image_tag asset_path('user_icon'), class: "absolute -bottom-12 flex h-[87px] w-[87px] items-center justify-center rounded-full border-[4px] border-white bg-gray-100 !border-navy-700" %>
          <% end %>
      </div>
      <div class="mt-16 flex flex-col items-center">
          <h4 class="text-xl font-bold text-navy-700 text-black">
          <%= item.user.full_name %>
          </h4>
          <p class="text-base font-normal text-gray-600"><%= item.user.country %></p>
      </div>
      <div class="mt-6 mb-3 flex gap-14 md:!gap-14">
          <div class="flex flex-col items-center justify-center">
          <%= link_to user_profile_path(user), class: "flex justify-center align-center" do %>
            <button type="button" class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br shadow-lg shadow-cyan-500/50 dark:shadow-lg dark:shadow-cyan-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center block">Other offers</button>
          <% end %>
          </div>
          <div class="flex flex-col items-center justify-center">
          <%= link_to "#", class: "flex justify-center align-center" do %>
            <button type="button" class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br shadow-lg shadow-cyan-500/50 dark:shadow-lg dark:shadow-cyan-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center block">Message</button>
          <% end %>
          </div>
          <div class="flex flex-col items-center justify-center">
          <%= link_to "#", class: "flex justify-center align-center" do %>
            <button type="button" class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br shadow-lg shadow-cyan-500/50 dark:shadow-lg dark:shadow-cyan-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center block">Buy/Loan</button>
          <% end %>
          </div>
      </div>
  </div>
</div>


<script>

$(document).ready(function () {
  const groupButtons = $("#group-buttons button");
  const locationContent = $("#location");

  groupButtons.on("click", function() {
    const $this = $(this);
    const buttonId = $this.attr("id");
    const contentId = buttonId.split("-")[1];
    const content = $(`#${contentId}`);
    const $siblings = $this.siblings();

    $siblings.removeClass("bg-gray-100 text-blue-700");
    $this.addClass("bg-gray-100 text-blue-700");

    content.siblings().hide();
    content.show();
  });

  locationContent.addClass("hidden p-1 md:p-2 lg:p-4 xl:p-6");
});



</script>
